:root {
  --color-brand--1: #ffb545;
  --color-brand--2: #e75fc5;
  --color-brand--3: rgba(49, 129, 18, 0.781);
  --color-dark--1: #75f096;
  --color-dark--2: #3b3939;
  --color-dark--3: #335c61;
  --color-light--1: #abd1c6;
  --color-light--2: #eeeeee;
  --color-light--3: rgb(250, 254, 255);
  --color-rest--btn: rgb(228, 235, 222);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  color: var(--color-light--2);
  font-weight: 400;
  line-height: 1.6;
  height: 100vh;
  overscroll-behavior-y: none;

  background-color: #fff;
  padding: 2.5rem;
  position: relative;
  display: flex;
}

/* GENERAL */
a:link,
a:visited {
  color: var(--color-brand--1);
}

/* SIDEBAR */
.sidebar {
  flex-basis: 50rem;
  background-color: var(--color-brand--3);
  padding: 3rem 5rem 4rem 5rem;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.header {
  display: flex;
  flex-direction: column;
  position: relative;
}
.logo {
  height: 5.5rem;
  align-self: center;

  margin-bottom: 2rem;
}
.clear-btn-container {
  position: absolute;
  right: 20px;
}
.btn {
  cursor: pointer;
  outline: none;
  font-family: inherit;
  border: none;
}

.clear-btn {
  color: var(--color-rest--btn);
  background-color: transparent;
}
.clear-btn:hover,
.show-btn:hover {
  color: white;
}
.show-btn {
  position: absolute;
  z-index: 1000;
  background-color: transparent;
  top: 15px;
  right: 9px;
}
.showall-logo {
  height: 50px;
}

.intro {
  text-align: center;
  margin-bottom: 1em;
}

.edit-btn,
.delete-btn {
  background-color: var(--color-light--2);
  position: absolute;
  right: 15px;
}
.edit-btn {
  right: 30px;
}
.edit-icon {
  width: 15px;
  height: 15px;
}
.delete-btn {
  width: 15px;
  height: 15px;
  font-size: 2em;
  color: var(--color-dark--2);
  top: 9px;
  right: 8px;
}

.memories {
  list-style: none;
  height: 77vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.memories::-webkit-scrollbar {
  width: 0;
}

.memory {
  background-color: var(--color-light--2);
  color: var(--color-dark--2);
  border-radius: 5px;
  padding: 1.5rem 2.25rem;
  margin-bottom: 1.75rem;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
}
.memory--special {
  border-left: 5px solid var(--color-brand--2);
}
.memory--happy {
  border-left: 5px solid var(--color-brand--1);
}

.memory__title {
  font-size: 1.7rem;
  font-weight: 600;
  grid-column: 1 / -1;
}

.memory__details {
  display: flex;
  align-items: baseline;
}

/* .memory__icon {
  font-size: 1.8rem;
  margin-right: 0.2rem;
  height: 0.28rem;
} */

.memory__value {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

/* .memory__unit {
  font-size: 1.1rem;
  color: var(--color-light--1);
  text-transform: uppercase;
  font-weight: 800;
} */

.form {
  background-color: var(--color-light--1);
  color: white;
  border-radius: 5px;
  padding: 1.5rem 2.75rem;
  margin-bottom: 1.75rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0.5rem 2.5rem;

  /* Match height and activity boxes */
  height: 9.25rem;
  transition: all 0.5s, transform 1ms;
}

.form.hidden {
  transform: translateY(-30rem);
  height: 0;
  padding: 0 2.25rem;
  margin-bottom: 0;
  opacity: 0;
}

.form__row {
  /* display: flex; */
  align-items: center;
}

.form__row--hidden {
  display: none;
}
.form__row:nth-child(3) {
  grid-column: 1 / span 2;
}

.form__label {
  flex: 0 0 50%;
  font-size: 1.5rem;
  font-weight: 600;
}

.form__input {
  width: 100%;
  padding: 0.3rem 1.1rem;
  font-family: inherit;
  font-size: 1.4rem;
  border: none;
  border-radius: 3px;
  background-color: var(--color-light--3);
  transition: all 0.2s;
}

.form__input:focus {
  outline: none;
  background-color: #fff;
}
.form__input--memo {
  margin: 0;
  resize: none;
  overflow: auto;
}
.form__btn {
  display: none;
}

.copyright {
  margin-top: auto;
  font-size: 1.3rem;
  text-align: center;
  color: var(--color-light--1);
}

.twitter-link:link,
.twitter-link:visited {
  color: var(--color-light--1);
  transition: all 0.2s;
}

.twitter-link:hover,
.twitter-link:active {
  color: var(--color-light--2);
}

/* MAP */
#map {
  flex: 1;
  height: 100%;
  background-color: var(--color-light--1);
  position: relative;
}

/* Popup width is defined in JS using options */
.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: var(--color-light--2);
  color: var(--color-dark--2);
  border-radius: 5px;
  padding-right: 0.6rem;
}

.leaflet-popup .leaflet-popup-content {
  font-size: 1.5rem;
  margin: 5px;
}

.leaflet-popup .leaflet-popup-tip {
  background-color: var(--color-light--2);
}

.special-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid var(--color-brand--2);
}
.happy-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid var(--color-brand--1);
}

@media (max-width: 800px) {
  body {
    flex-direction: column;
  }
  .sidebar {
    max-height: 50vh;
  }
  .intro {
    text-align: center;
    margin-bottom: 0.5em;
    font-size: 10px;
  }
}
